name: Crunchy PGO

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: crunchy
      cancel-in-progress: false
    strategy:
      max-parallel: 1
      matrix:
        dashboard:
          - name: pgbackrest
            url: https://raw.githubusercontent.com/CrunchyData/postgres-operator-examples/refs/heads/main/kustomize/monitoring/grafana/dashboards/pgbackrest.json
          - name: pod_details
            url: https://raw.githubusercontent.com/CrunchyData/postgres-operator-examples/main/kustomize/monitoring/grafana/dashboards/pod_details.json
          - name: postgresql_details
            url: https://raw.githubusercontent.com/CrunchyData/postgres-operator-examples/main/kustomize/monitoring/grafana/dashboards/postgresql_details.json
          - name: postgresql_overview
            url: https://raw.githubusercontent.com/CrunchyData/postgres-operator-examples/main/kustomize/monitoring/grafana/dashboards/postgresql_overview.json
          - name: postgresql_service_health
            url: https://raw.githubusercontent.com/CrunchyData/postgres-operator-examples/refs/heads/main/kustomize/monitoring/grafana/dashboards/postgresql_service_health.json
          - name: query_statistics
            url: https://raw.githubusercontent.com/CrunchyData/postgres-operator-examples/refs/heads/main/kustomize/monitoring/grafana/dashboards/query_statistics.json
          - name: pgbouncer_direct
            url: https://raw.githubusercontent.com/CrunchyData/postgres-operator-examples/refs/heads/main/kustomize/monitoring/grafana/dashboards/pgbouncer_direct.json
    steps:
      - uses: actions/checkout@v6
      - name: Download dashboard
        run: |
          mkdir crunchy || true
          curl ${{ matrix.dashboard.url }} > crunchy/${{ matrix.dashboard.name }}.json
      - name: Update datasources
        run: |
          sed -i 's/"uid": "PROMETHEUS"/"uid": "${DS_PROMETHEUS}"/g' crunchy/${{ matrix.dashboard.name }}.json
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "fix(crunchy): update ${{ matrix.dashboard.name }}"
